@{
    ViewData["Title"] = "لیست کتابها";
}

<div class="row">
    <div class="col-12">
        @await Html.PartialAsync("_SearchBook")
    </div>
</div>


<input type="hidden" id="isAdmin" value="@User.IsInRole("Admin").ToString().ToLower()" />

@await Html.PartialAsync("_DeleteBook")
@section Scripts {

    <script src="~/js/Home/index.min.js" defer></script>
}
