@{
    ViewData["Title"] = "لیست کتابها";
    ViewBag.hasGrid = true;
}

<div class="row">
    <div class="col-12">
        @await Html.PartialAsync("_SearchBook")
    </div>
</div>



@section Scripts {

   
    <script src="~/js/Home/index.min.js" defer></script>
}
